body,html{
    margin:0;
    padding: 0;
}

body{
    background-color:aliceblue;
    color:black;
}
header{
    text-align:center;
    font-size: 30px;
}
#lap{
    font-size: 20px;
    float: right;
    padding: 30px;
    border: 1px solid white;
}
#time{
    text-align: center;
    font-size:5vw;
    margin-top:12%;
    margin-left:25%;
width:43vw;
background-color:black;
color:aliceblue;
-webkit-box-shadow: -8px 31px 26px 19px rgba(49,35,97,0.65);
-moz-box-shadow: -8px 31px 26px 19px rgba(49,35,97,0.65);
box-shadow: -8px 31px 26px 19px rgba(49,35,97,0.65);
}
#btn{
    margin-top:5%;
    margin-left: 45%;

    padding:20px;
    
}
#start-btn{
    padding: 30px;
    border:5px solid orangered;
   
    cursor: pointer;
}
#stop-btn{
  padding: 30px;
  border:5px solid darkred;
 
  cursor: pointer;
  margin-bottom: 15%;
}
#resume-btn{
    padding: 30px;
    padding-left:15px;
    padding-right:15px; 
    border:5px solid orange;
    margin-left:-2%;
    
    cursor: pointer;
}
.col-lg-12, .col-m-12 ,.col-xs-12{
    margin-bottom: 15%;
}
@media(max-width:700px){
    #btn{
       margin:0;
       margin-top:5%;
       padding:0;
    }
    #start-btn{
        padding:10px;
        margin-left:30%;
        border:0px solid;
        color:orangered;
        font-size:25px;
    }
    #resume-btn{
        padding: 10px;
        margin-left:30%;
        border:0px solid;
        color:orangered;
        font-size:25px;
    }
    #stop-btn{
        padding:10px;
        margin-left:30%;
        border:0px solid;
        color:orangered;
        font-size:25px;
    }


}
