body,html{
    margin:0;
    padding: 0;
}

body{
    background-color:aliceblue;
    color:black;
}
header{
    text-align:center;
    font-size: 30px;
}
#lap{
    font-size: 20px;
    float: right;
    padding: 30px;
    border: 1px solid white;
}
#time{
    text-align: center;
    font-size:8vw;
    margin-top:15%;
    margin-left:25%;
width:43vw;
background-color:black;
color:aliceblue;
-webkit-box-shadow: -8px 31px 26px 19px rgba(49,35,97,0.65);
-moz-box-shadow: -8px 31px 26px 19px rgba(49,35,97,0.65);
box-shadow: -8px 31px 26px 19px rgba(49,35,97,0.65);
}
#btn{
    margin-top:5%;
    margin-left:25%;
    padding:20px;
    
}
#start-btn{
    background-color:orangered; 
    padding: 30px;
    border:0px solid orange;
    border-radius:100%;
    cursor: pointer;
}
#lap-btn{
  background-color:orange;
  padding: 30px;
  border:0px solid orange;
  border-radius:100%;
  cursor: pointer;
}
#lapsection{
    font-size:30px;
    height:5%;
    overflow: scroll;
}
